@charset "utf-8";
@import url(../common/reset.css);
@import url(../common/index_footer.css);
@import url(../join/join_header.css);
@import url(login_container.css);

#wrap {
  width: 100%;
  height: auto;
  background-color: #000;
}
