@charset "utf-8";
@import url(../common/reset.css);
@import url(../common/index_header.css);
@import url(../common/sub_header.css);
@import url(../company_info/company_info_container.css);
@import url(../common/index_footer.css);

.sub_header .sub_header_con .nav .info_menu {
  width: 70%;
  min-width: 200px;
  height: auto;
}

@media only screen and (max-width: 660px) {
  .sub_header .sub_header_con .nav .info_menu {
    display: none;
  }
}
